In [4]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import yfinance as yf
import warnings
warnings.filterwarnings('ignore')

ticker_code = "IBM"

df = yf.download(ticker_code, start='2025-01-01', end='2025-06-13', group_by='ticker')
if isinstance(df.columns, pd.MultiIndex):
    df.columns = df.columns.get_level_values(1)
df.head()

[*********************100%***********************]  1 of 1 completed

Price             Open        High         Low       Close   Volume
Date
2025-01-02  218.895348  219.556512  214.730987  217.040131  2579500
2025-01-03  217.642083  220.711079  217.642083  219.714386  3872100
2025-01-06  220.059766  221.391973  217.839432  219.734116  2846700
2025-01-07  220.405183  223.720883  219.892035  221.007141  3299300
2025-01-08  220.957782  221.934719  217.918390  220.237396  2619800

In [5]:
from statsmodels.stats.diagnostic import acorr_ljungbox
res = acorr_ljungbox(df["Close"] , lags = [10] , return_df = True)
res

       lb_stat     lb_pvalue
10  466.924619  5.113708e-94